@page
@{
    string name = HttpContext.Session.GetString("accountName");
    if (HttpContext.Session.GetString("account") == "admin")
    {
        Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
    }
    else if (HttpContext.Session.GetString("account") == "manager")
    {
        Layout = "/Pages/Shared/_LayoutManager.cshtml";
    }
    else if (HttpContext.Session.GetString("account") == "storekeeper")
    {
        Layout = "/Pages/Shared/_StoreKeeper.cshtml";
    }
}

<div class="container">
    <div class="row p-1">
        <div class="col-1">User</div>
        <div class="col-5">
            @if (HttpContext.Session.GetString("account") == "admin")
            {
                <input type="text" id="userInput" value='@($"{name} (Admin)")' class="w-50" />
            }
            else if (HttpContext.Session.GetString("account") == "manager")
            {
                <input type="text" id="userInput" value='@($"{name} (Manager)")' class="w-50" />
            }
            else if (HttpContext.Session.GetString("account") == "storekeeper")
            {
                <input type="text" id="userInput" value='@($"{name} (Storekeeper)")' class="w-50" />
            }
        </div>
    </div>
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"> <input type="text" class="w-100" id="messageInput" style="width: 300px; height: 50px;"/></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
