@page
@model BL3w_GroupProject.Pages.Manager.ManagerProductListModel

@{
    ViewData["Title"] = "ManagerProductList";
    Layout = "_LayoutManager";
}
<div class="text-center">
    <h1>Welcom to ManagerPage</h1>
</div>
